{% extends 'base.html' %}
{% load static %}

{% block title %}EM-SHOP | Entrar {% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}

    {% if form.errors %}
        <p class="text-light">Usuário e Senha são Incorrectos! Tente Novamente</p>
    {% endif %}

    <!--Login-->
    <div class="container px-5 py-4 align-content-center">
    <h2 class="display-4">Entrar No Sistema</h2>
        <div class="row-cols col-md-4 align-content-center ">

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Entrar</button>
            </form>
            <p class="text-center">Não possui uma Conta? <a href="{% url 'registrar_comerciante' %}">Criar Conta</a>.
            </p>

        </div>
    </div>
{% endblock %}